@font-face{
    src: url(fact-narrow_freefontdownload_org/fact-narrow.woff);
    font-family: fact narrow;
}

body{
    font-family: fact narrow;
}

.menuInicial{
    margin: -1%;
    width: auto;
    height: 73px;
    position:sticky;
    top:0;
    overflow: hidden;
    background-color: #ffffff;
    color: #ffffff;
    z-index: 3;
}

.IconoPrinc{
    margin-left: 3.5%;
}

.selecc
{
    text-align: right;
    float: left;
    margin-top: -75px;
    margin-left: 60%;
}

a{
    text-decoration: none; color: #000000;
}

.texesp{
    margin-left: 20px;  
    color: black;
    transition: color 0.3s ease;
}

  .texesp:hover {
    color: orange;
  }

.Info{
    width: 60%; height: 70%;
    background-color: rgb(217, 216, 216);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    margin-top: 20px;
}

.textoArri{
    margin-top: -15px;
}

.cajas{
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 70%;
            height: 200px;
            background-color: blue;
        }
 
        @media (max-width: 600px) {
            .cajas{
            color: black;
            background-color: rgb(137, 249, 62);
        }
 
        }


/*prueba*/
@property --maria {
            syntax: "<color>";
            inherits: true;
            initial-value: #ED217C;
        }
 
        @property --tamaño{
            syntax: "<length>";
            inherits: false;
            initial-value: 50px;
        }

        .mascara {
            mask-size: 90%;
            mask-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1200px-Logo_NIKE.svg.png);
            mask-repeat: no-repeat;
        }

    